<div class="container bg-dark text-white">
    <div class="row">
      <div class="col-sm">
          <i class="fa fa-calendar" aria-hidden="true" style="color:#DDDDDD;"></i>
        Today
      </div>
      <div class="col-sm">
          <i class="fa fa-calendar" aria-hidden="true" style="color:#DDDDDD;"></i>
        Week
      </div>
      <div class="col-sm">
          <i class="fa fa-calendar" aria-hidden="true" style="color:#DDDDDD;"></i>
        Month
      </div>
      <div class="col-sm">
          <i class="fa fa-calendar" aria-hidden="true" style="color:#DDDDDD;"></i>
        Six Months
      </div>
      <div class="col-sm">
          <i class="fa fa-calendar" aria-hidden="true" style="color:#DDDDDD;"></i>
        One Year
      </div>
    </div>
  </div>

  <div class="container bg-dark text-white">
    <div class="row">
      <div class="col-2">
        <label>From</label>
      </div>
      <div class="col-4">
        <input type="date">
      </div>
    </div>
  </div>

  <div class="container bg-dark text-white">
    <div class="row">
      <div class="col-2">
        <label>To</label>
      </div>
      <div class="col-4">
        <input type="date">
      </div>
    </div>
  </div>

  <div class="container bg-dark text-white">
    <button>Done</button>
  </div>
